
.backgroundColor {
    border-radius: 0.7rem;
    font-family: var(--h-font);
    color: var(--text-color);
    background-color: #ffffff;
}
.color{
    text-decoration: none;
    color:var(--text-color);
    transition: 0.3s;
    cursor: pointer;
}
.color:hover{
    color:var(--text-color)
}